In [71]:
import psycopg2

conn = psycopg2.connect("host=localhost dbname=user_db user=kittenrage password=123")
cur = conn.cursor()
cur.execute("SELECT * FROM users")
# (user_id, counter, version) = cur.fetchone()
all = cur.fetchall()
conn.commit()
cur.close()
for i in all: print(i)

('4342cf7c-6934-4799-ae2a-67680fff8872', 'login', '5f4dcc3b5aa765d61d8327deb882cf99', 0)
('eb0fcdc5-45a5-4e0f-8f7e-a415a1557933', 'login', '5f4dcc3b5aa765d61d8327deb882cf99', 0)
('186bb4e0-997d-483f-8ae0-e086e3852ecc', 'login', '5f4dcc3b5aa765d61d8327deb882cf99', 0)
('e6cbdc66-c269-49f0-9910-e1cfa1107f25', 'login', '5f4dcc3b5aa765d61d8327deb882cf99', 0)
('c1bff06f-11d3-4ed6-a74d-2b67fddd2154', 'test', '098f6bcd4621d373cade4e832627b4f6', 0)

In [64]:
from pymongo import MongoClient

# Establish connection to MongoDB server
client = MongoClient('mongodb://localhost:27017/')  # Replace with your MongoDB connection string

# Access the "pets" database
db = client['pets']

# Access the "cats" collection within the "pets" database
cats_collection = db['cats']

# Define 10 different cat objects
cats = [
    {"name": "Whiskers", "age": 5, "breed": "Persian"},
    {"name": "Mittens", "age": 3, "breed": "Siamese"},
    {"name": "Felix", "age": 2, "breed": "Maine Coon"},
    {"name": "Luna", "age": 1, "breed": "Ragdoll"},
    {"name": "Simba", "age": 4, "breed": "Bengal"},
    {"name": "Tiger", "age": 6, "breed": "Siberian"},
    {"name": "Oreo", "age": 2, "breed": "British Shorthair"},
    {"name": "Shadow", "age": 3, "breed": "Scottish Fold"},
    {"name": "Smokey", "age": 4, "breed": "Norwegian Forest"},
    {"name": "Cleo", "age": 2, "breed": "Egyptian Mau"}
]

# Insert each cat object into the "cats" collection
for cat in cats:
    cats_collection.insert_one(cat)

print("Inserted 10 cat objects into the 'cats' collection.")

Inserted 10 cat objects into the 'cats' collection.

In [ ]:
cur.execute("CREATE TABLE users (user_id serial PRIMARY KEY, counter integer, version integer);")
cur.execute(f"INSERT INTO users (user_id, counter, version) VALUES ({1}, {0}, {0});")
conn.commit() 
cur.close()

In [51]:
cur = conn.cursor()
cur.execute("DROP TABLE users;")
conn.commit()

In [66]:
cur = conn.cursor()
cur.execute("SELECT * FROM users;")
# (user_id, counter, version) = cur.fetchone()
all = cur.fetchall()
conn.commit()
cur.close()
print(all)

[('4342cf7c-6934-4799-ae2a-67680fff8872', 'login', '5f4dcc3b5aa765d61d8327deb882cf99', 0)]

[('d1bbc9b1-0243-4f34-bb2c-6447d80c78db', '0', '0', 0)]